@model IEnumerable<DemoLab4.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>

<p>
    <a asp-action="AddProduct">Create New Product</a>
</p>
<form action="/Product/ProductList" method="get">
    <input type="search" name="searchTerm" value="" />
    <button type="submit" class="btn btn-sm btn-info">Category Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountDue)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID })
                </td>
            </tr>
        }
    </tbody>
</table>
